*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    position: relative;
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #05073a, #dc0606ca);
    padding: 10px;
}

.container{
    /* i added this position */
    position: relative;
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    background: linear-gradient(135deg, #dc0606ca, #05073a);
    text-align: center;

}

.container .heading{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 3px solid #05073a;
    margin-bottom: 5px;
}

.container .heading{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}



.container form .card-details{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .card-details .card-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.card-details .card-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.card-details .card-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
form .button{
    text-align: center;
}
form .button input{
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 50%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #05073a, #dc0606ca);
    cursor: pointer;
}

.container .qr{
    width: 300px;
    height: 300px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qrimg{
    justify-content: center;
    align-items: center;
}

@media (max-width:584px){
    .container{
        max-width: 100%;
        align-items: center;
    }
    .container .heading{
        grid-template-columns: 1fr 0fr;
        align-items: center;
    }
    .img{
        display: none;
    }
    .logo{
        display: none;
    }

    form .card-details .card-box{
        margin-bottom: 15px;
        width: 100%;
    }

    .container form .card-details{
        max-height: 350px;
        overflow: scroll;
    }
    
}